/* Timepage Theme ----------------------------------------------------------------- */

#tp-countdown-icon {
	height: 30vmin;
	margin: auto;
	display: block;
}

#tp-countdown-event-title {
	width: 60vw;
	margin: auto;
	line-height: 0.9;
	font-size: 5.4vmin;
	font-weight: 200;
	text-align: center;
	display: block;
}

#tp-countdown-in, #tp-countdown-ago {
	padding-top: 2vmin;
	font-size: 2vmin;
	font-weight: 200;
	text-align: center;
	display: block;
}

.timepage-theme {
	text-align: center;
	text-transform: lowercase;
}

/* TODO: Font for Non-Mac/iOS viewers without Avenir Next */
#main,
.timepage-theme,
#tp-countdown-in,
#tp-countdown-event-title,
#tp-download-text {
	font-family: 'Nunito Sans', sans-serif;
}

#tp-countdown-top-line {
	padding-top: 4vmin;
	padding-bottom: 1vmin;
	line-height: 0.9;
	font-size: 9vmin;
	display: block;
	color: #e6543e;
}

#tp-countdown-bottom-line {
	line-height: 0.9;
	font-size: 2vmin;
	display: block;
}

.timepage-theme .ce-days,
.timepage-theme .ce-hours,
.timepage-theme .ce-minutes,
.timepage-theme .ce-seconds {
	font-weight: 600;
}

.timepage-theme .ce-days-label,
.timepage-theme .ce-hours-label,
.timepage-theme .ce-minutes-label,
.timepage-theme .ce-seconds-label {
	font-weight: 200;
	text-transform: uppercase;
}

#tp-app-icon {
	width: 20vmin;
	margin: auto;
	display: block;
	max-width: 180px;
	min-width: 90px;
}

#app-store-button {
	width: 20vmin;
	margin: auto;
	display: block;
	max-width: 200px;
	min-width: 150px;
}

#tp-download-text {
	font-weight: 200;
	margin: auto;
	display: block;
	font-size: 2.2vmin;
	width: 60vw;
	padding: 2vmin;
}

#full {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: #1d2424;
}

#main {
	height: auto;
	background: #1d2424;
	padding-top: 2vmin;
	padding-bottom: 5vmin;
}

#footer {
	padding-top: 3vmin;
	text-align: center;
	display: block;
	height: auto;
	background: black;
	flex-grow: 1;
}

@media all and (max-width: 730px) {
	#tp-countdown-icon {
		width: 40vmin;
		height: auto;
	}
	
	#tp-countdown-event-title {
		font-size: 8vmin;
	}
	
	#tp-countdown-top-line {
		font-size: 15vmin;
	}

	#tp-countdown-bottom-line {
		font-size: 3.3vmin;
	}
	
	#tp-download-text {
		font-size: 3vmin;
	}
}